*{
    box-sizing: border-box;
}
body{
    margin:0;
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
    color:white;
    cursor: pointer;
}
.header{
    position: relative;
}
.image-container{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    transform: scale(1.1);
}

.header-body-section{
    position: absolute;
    top:0;
    width: 100%;
    color:white;
}
.nav{
    font-weight: 550;
    height: 50px;
}

.container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav ul li{
    padding: 10px;
    margin-right: 30px;
    font-size: 25px;        
}
.nav ul li a{
    color: inherit;
    text-decoration: none;
}
.zomato-logo{
    width: 500px;
}
.container-header-body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;
}
.header-body-content{
    position: relative;
    margin-top: 25px;
}
.header-body-section-discover{
    font-size: 40px;
    margin: 20px 0;
}
.search-container{
    background-color: white;
    width: 100%;
    height: 55px;
    max-width: 750px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    color:black;
}
.location-map{
    color: rgb(230,139,139);
    font-size: 25px;
}
.caret-up{
    color:black
}
.detectionLocation{
    border: none;
    padding: 20px;
    font-size: 15px;
    width: 190px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.search-item{
    color:black;
    font-size: 18px;
    margin-left: 50px;
    width: 100%;
}
.line{
    padding: 5px;
}
.search-item input{
    width: 100%;
    width:fit-content;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5 20px;
}
.section-1{
    margin-top: 40px;
    margin-bottom: 40px;
}
.container-feature{
    display: flex;
    justify-content: space-between;
}
.features{
    overflow: hidden;
    border-radius: 20px;
    border: 0.1px solid rgb(231,231,231);
    text-align: center;
}
.feature-image{
    width: 300px;
    height: 180px;
    overflow: hidden;
}
.feature-image img{
    width: 100%;
}
.features h3
.features p{
    padding-left: 20px;
}
.features:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

section{
    padding: 50px 0;
}

.section-2-left{
    margin-left: 140px;
}

.section-2-left h1{
    font-size: 40px;
    margin-bottom: 0px;
}
.section-2-left p{
    font-size: 20px;
    margin-top: 0px;
    letter-spacing: 1px;
    font-weight: 200;

}
.section-2-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2-Right{
    align-self: flex-end;
    color: rgb(228,56,56);
}
.section-2-item{
    max-width: 267px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-left: 1em;
}
.section-2-item:first-child{
    margin-left: 0;
}
.section-2-item img{
    height: 200px;
    width: 100%;
}
.section-2-item img{
    width: 100%;
}
.section-2-item-description{
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.section-2-item-description p{
    margin: 0;
    font-size: 20px;
}
.section-2-item-description p:nth-child(2){
    font-size: 18px;
}
.section-2-body{
    display: flex;

}
.section-2-item:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}